

/*>>>>>>>  INDEX  <<<<<<<*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    font-weight: normal;
    font-family: 'Playfair Display', serif;
}
b{
    font-weight: 700;
}
html, html a {
    /*text-shadow: 1px 1px 1px rgba(0,0,0,0.004);*/
     text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

#description_content{
    margin: 0 5px 10px 5px;
    text-align: left;
    text-indent: 1em;
}
#title{
    letter-spacing: 2px;    
    margin-bottom: 10px;
}

/*             B            */
.blog-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 1000px;                       
}
.blog-entry{
    background-color: #EAF2F8 ;
    max-width: 100%;
    position: relative;
    margin-bottom: 7px;
    padding: 8px;
    border-radius: 4px;
}
.blog-entry img{ 
    max-width: 100%;    
    float: left;
    margin: 0 10px 7px 0px;    
    border-radius: 5px;
}
.blog-entry-title{    
    text-align: center;
    position: relative;
    font-size: 1.2em;
    padding: 0;
    margin: 5px 0;
       
}
.blog-text{    
    margin-left: 8px;
    margin-top: 0;     
}

/*       F           */
.face-inst{
    margin: auto;
    display: flex;
    position: fixed;    
    background-color: #ffffff;
    height: 80px; 
    opacity: 0.7;
    width: 100%;
    justify-content: center;
    align-items: center;    
    bottom: 0;
}
.face-inst a{
    margin: 10px;
}
.filter{
    border-top: 2px solid #FF00FF;
    flex-wrap: wrap;
    background-color: #F8F9F9;
}
footer{
    margin: auto;
    margin-top: 20px;
    width: 1000px;
    font-size: 14px;
}
nav.filter a{ 
    margin: 20px 8px;    
    font-weight: 500;
    padding: 2px 4px;
    background-color: white;
    border-radius: 5px;
}

/*       H           */
.head{    
    padding: 2px; 
    border-top: 2px solid #FF00FF;  
    justify-content: center;
    background-color: #F8F9F9;  
}
.head h3{    
    font-size: 15px;
}
.head a{
    text-decoration: none;
    color: black;
}

/*        K              */
.kontakt-container{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/*         L             */
.localization{
    width: 1000px;    
    text-align: center;    
}
.localization img{
    margin: 0 1%;
}

/*          M                */
.main-column{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 1000px;    
    text-align: center;
}

/*           N               */
nav{    
    display: flex;
    flex-direction: row;      
    padding: 0;
    justify-content: center;
    align-items: center;     
}
nav a{
    margin: 25px 14px;    
    text-decoration: none;
    color: black;    
    font-size: 16px;     
}

/*             O                 */
.oliwia{    
    max-width: 100%;
    position: relative;
    margin-bottom: 7px;
    padding: 8px;
    border-radius: 4px;
}
.oliwia img{
        
    float: left;
    margin: 0 10px 7px 0px;    
    border-radius: 50%;
}
.oliwia-title{
    text-align: center;
    position: relative;
    font-size: 1.2em;
    padding: 0;
    margin: 5px 0;
}
.oliwia-text{
    margin-left: 8px;
    margin-top: 0;
}

/*          P                */
.photo-container {
	margin: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;                   
}
.photo-column {
    display: flex;
    flex-direction: column;
    width: 328px;  
}
.photo-column img{    
    margin: 3px 0;
}
