

/*>>>>>>>  HEAD  <<<<<<<*/
*{
    font-weight: normal;
}
b{
    font-weight: 700;
}
html, html a {
    /*text-shadow: 1px 1px 1px rgba(0,0,0,0.004);*/
     text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
body{    
    background-attachment: fixed; 
    background-size:  100%;
    background-repeat: no-repeat;    
    background-image: url('../images/canva-photo-editor.png');    
}
#title{
    letter-spacing: 2px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
}
.head{    
    padding: 2px;   
    justify-content: center;
    background-color: #F8F9F9;  
}
.head h3{
    font-family: 'Open Sans', sans-serif; 
    font-size: 15px;
}
.head a{
    text-decoration: none;
    color: black;
}
nav{    
    display: flex;
    flex-direction: row;      
    padding: 0;
    justify-content: center;
    
}
nav a{
    margin: 25px 17px;    
    text-decoration: none;
    color: black;    
    font-family: 'Source Serif Pro', serif;
    font-size: 17px;     
}
#nav-active{
    font-weight: bold;
    font-size: 20px;
    margin: 25px 33px;     
}
footer{
    margin: auto;
    width: 1000px;
    font-size: 14px;
}
.face-inst{
    margin: auto;
    display: flex;
    position: fixed;
    
    background-color: #ffffff;
    height: 100px; 
    opacity: 0.7;
    width: 100%;
    justify-content: center;
    align-items: center;    
    bottom: 0;
}
.face-inst a{
    margin: 10px;
}


/*>>>>>  START  <<<<<<<<*/
.photo-container {
	margin: auto;
    display: flex;
    width: 1000px;
    justify-content: space-between;                   
}
.photo-column {
    display: flex;
    flex-direction: column;
    width: 328px;  
}
.photo-column img{
    width: 100%;
    margin: 3px 0;
}

/*>>>>>>>> PORTRETY <<<<<<<<<*/



/*>>>>>>>>> Okolicznosciowe <<<<<<<<<<*/

/*nav span{  --------- filtr---------
    margin: 15px;
    cursor: pointer;
    font-family: 'Lora', serif;
}*/
nav.pres a{ 
    margin: 15px;
    
    font-family: 'Lora', serif;
    font-weight: 500;
}

/*>>>>>>>>>>>> Rodzinne <<<<<<<<<<*/



/*>>>>>>>>>>> Sensualne <<<<<<<<<<<*/



/*>>>>>>>>>>> Wiecej <<<<<<<<<<<*/



/*>>>>>>>>>>>>Blog<<<<<<<<<<<<<<<<<<*/
.blog-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 1000px;                       
}
.blog-entry{
    background-color: #EAF2F8 ;
    max-width: 100%;
    position: relative;
    margin-bottom: 7px;
    padding: 8px;
    border-radius: 4px;
}
.blog-entry img{ 
    max-width: 100%;    
    float: left;
    margin: 0 10px 7px 0px;
    /*margin-bottom: 0;*/
    border-radius: 5px;
}
.blog-entry-title{    
    text-align: center;
    position: relative;
    font-size: 1.2em;
    padding: 0;
    margin: 5px 0;
       
}
.blog-text{    
    margin-left: 8px;
    margin-top: 0;     
}


/*>>>>>>>>>> Kontakt <<<<<<<<<<<*/
.kontakt-container{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.oliwia{    
    max-width: 100%;
    position: relative;
    margin-bottom: 7px;
    padding: 8px;
    border-radius: 4px;
}
.oliwia img{
        
    float: left;
    margin: 0 10px 7px 0px;    
    border-radius: 50%;
}
.oliwia-title{
    text-align: center;
    position: relative;
    font-size: 1.2em;
    padding: 0;
    margin: 5px 0;
}
.oliwia-text{
    margin-left: 8px;
    margin-top: 0;
}
.localization{
    width: 1000px;
    font-family: 'Lora', serif; 
    text-align: center;    
}
.localization img{
    margin: 0 1%;
}
