{% extends "./index.html" %}
{% load static %}

{%block blog%}nav-active{%endblock%}

{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'photographer/css/style.css'%}"> 
	<link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
	
</head>

<body>
	<div style="text-align: center"><h2 style="font-family: 'Lora', serif;">Blog</h2></div>
<div style="width: 1000px; margin: auto;">
	<h3 style="font-family: 'New Tegomin', serif; text-align: center">Lorem Ipsum</h3>
	<p style="font-family: 'New Tegomin', serif;">
		Cras sit amet aliquet leo. Nullam vitae libero vestibulum, pellentesque quam a, accumsan enim. Integer justo urna, faucibus eget ex nec, tincidunt accumsan lorem. Vivamus ullamcorper mollis tortor, id congue sapien semper vel. Fusce nunc eros, blandit id orci quis, condimentum egestas neque. Morbi consequat, diam eget condimentum rhoncus, magna nunc molestie dui, quis vulputate diam metus at turpis. Curabitur semper congue arcu vitae ultricies.
	</p>
	<div class="blog-container">
	
		<div class="blog-entry">
			<img src="media/blog/digital-blog-285x300.jpg">
			<div class="blog-entry-title">
			<span>Title article</span>
			</div>
			<h4 class="blog-text">
			Cras sit amet aliquet leo. Nullam vitae libero vestibulum, pellentesque quam a, accumsan enim. Integer justo urna, faucibus eget ex nec, tincidunt accumsan lorem. Vivamus ullamcorper mollis tortor, id congue sapien semper vel. Fusce nunc eros, blandit id orci quis, condimentum egestas neque. Morbi consequat, diam eget condimentum rhoncus, magna nunc molestie dui, quis vulputate diam metus at turpis. Curabitur semper congue arcu vitae ultricies.
			Cras sit amet aliquet leo. Nullam vitae libero vestibulum, pellentesque quam a, accumsan enim. Integer justo urna, faucibus eget ex nec, tincidunt accumsan lorem. Vivamus ullamcorper mollis tortor, id congue sapien semper vel. Fusce nunc eros, blandit id orci quis, condimentum egestas neque. Morbi consequat, diam eget condimentum rhoncus, magna nunc molestie dui, quis vulputate diam metus at turpis. Curabitur semper congue arcu vitae ultricies.
			Cras sit amet aliquet leo. Nullam vitae libero vestibulum, pellentesque quam a, accumsan enim. Integer justo urna, faucibus eget ex nec, tincidunt accumsan lorem. Vivamus ullamcorper mollis tortor, id congue sapien semper vel. Fusce nunc eros, blandit id orci quis, condimentum egestas neque. Morbi consequat, diam eget condimentum rhoncus, magna nunc molestie dui, quis vulputate diam metus at turpis. Curabitur semper congue arcu vitae ultricies.
			Cras sit amet aliquet leo. Nullam vitae libero vestibulum, pellentesque quam a, accumsan enim. Integer justo urna, faucibus eget ex nec, tincidunt accumsan lorem. Vivamus ullamcorper mollis tortor, id congue sapien semper vel. Fusce nunc eros, blandit id orci quis, condimentum egestas neque. Morbi consequat, diam eget condimentum rhoncus, magna nunc molestie dui, quis vulputate diam metus at turpis. Curabitur semper congue arcu vitae ultricies.
			Cras sit amet aliquet leo. Nullam vitae libero vestibulum, pellentesque quam a, accumsan enim. Integer justo urna, faucibus eget ex nec, tincidunt accumsan lorem. Vivamus ullamcorper mollis tortor, id congue sapien semper vel. Fusce nunc eros, blandit id orci quis, condimentum egestas neque. Morbi consequat, diam eget condimentum rhoncus, magna nunc molestie dui, quis vulputate diam metus at turpis. Curabitur semper congue arcu vitae ultricies.
			Cras sit amet aliquet leo. Nullam vitae libero vestibulum, pellentesque quam a, accumsan enim. Integer justo urna, faucibus eget ex nec, tincidunt accumsan lorem. Vivamus ullamcorper mollis tortor, id congue sapien semper vel. Fusce nunc eros, blandit id orci quis, condimentum egestas neque. Morbi consequat, diam eget condimentum rhoncus, magna nunc molestie dui, quis vulputate diam metus at turpis. Curabitur semper congue arcu vitae ultricies.
			</h4>
		</div>
		<div class="blog-entry">
			<img src="media/blog/blogging-1.jpg">
			<div class="blog-entry-title">
			<span>Title article</span>
			</div>
			<h4 class="blog-text">
			Cras sit amet aliquet leo. Nullam vitae libero vestibulum, pellentesque quam a, accumsan enim. Integer justo urna, faucibus eget ex nec, tincidunt accumsan lorem. Vivamus ullamcorper mollis tortor, id congue sapien semper vel. Fusce nunc eros, blandit id orci quis, condimentum egestas neque. Morbi consequat, diam eget condimentum rhoncus, magna nunc molestie dui, quis vulputate diam metus at turpis. Curabitur semper congue arcu vitae ultricies.
			Cras sit amet aliquet leo. Nullam vitae libero vestibulum, pellentesque quam a, accumsan enim. Integer justo urna, faucibus eget ex nec, tincidunt accumsan lorem. Vivamus ullamcorper mollis tortor, id congue sapien semper vel. Fusce nunc eros, blandit id orci quis, condimentum egestas neque. Morbi consequat, diam eget condimentum rhoncus, magna nunc molestie dui, quis vulputate diam metus at turpis. Curabitur semper congue arcu vitae ultricies.
			Cras sit amet aliquet leo. Nullam vitae libero vestibulum, pellentesque quam a, accumsan enim. Integer justo urna, faucibus eget ex nec, tincidunt accumsan lorem. Vivamus ullamcorper mollis tortor, id congue sapien semper vel. Fusce nunc eros, blandit id orci quis, condimentum egestas neque. Morbi consequat, diam eget condimentum rhoncus, magna nunc molestie dui, quis vulputate diam metus at turpis. Curabitur semper congue arcu vitae ultricies.
			Cras sit amet aliquet leo. Nullam vitae libero vestibulum, pellentesque quam a, accumsan enim. Integer justo urna, faucibus eget ex nec, tincidunt accumsan lorem. Vivamus ullamcorper mollis tortor, id congue sapien semper vel. Fusce nunc eros, blandit id orci quis, condimentum egestas neque. Morbi consequat, diam eget condimentum rhoncus, magna nunc molestie dui, quis vulputate diam metus at turpis. Curabitur semper congue arcu vitae ultricies.
			Cras sit amet aliquet leo. Nullam vitae libero vestibulum, pellentesque quam a, accumsan enim. Integer justo urna, faucibus eget ex nec, tincidunt accumsan lorem. Vivamus ullamcorper mollis tortor, id congue sapien semper vel. Fusce nunc eros, blandit id orci quis, condimentum egestas neque. Morbi consequat, diam eget condimentum rhoncus, magna nunc molestie dui, quis vulputate diam metus at turpis. Curabitur semper congue arcu vitae ultricies.
			Cras sit amet aliquet leo. Nullam vitae libero vestibulum, pellentesque quam a, accumsan enim. Integer justo urna, faucibus eget ex nec, tincidunt accumsan lorem. Vivamus ullamcorper mollis tortor, id congue sapien semper vel. Fusce nunc eros, blandit id orci quis, condimentum egestas neque. Morbi consequat, diam eget condimentum rhoncus, magna nunc molestie dui, quis vulputate diam metus at turpis. Curabitur semper congue arcu vitae ultricies.
			</h4>
		</div>
		<div class="blog-entry">
			<img src="media/blog/how-to-start-a-blog-illustration.jpeg">
			<div class="blog-entry-title">
			<span>Title article</span>
			</div>
			<h4 class="blog-text">
			Cras sit amet aliquet leo. Nullam vitae libero vestibulum, pellentesque quam a, accumsan enim. Integer justo urna, faucibus eget ex nec, tincidunt accumsan lorem. Vivamus ullamcorper mollis tortor, id congue sapien semper vel. Fusce nunc eros, blandit id orci quis, condimentum egestas neque. Morbi consequat, diam eget condimentum rhoncus, magna nunc molestie dui, quis vulputate diam metus at turpis. Curabitur semper congue arcu vitae ultricies.
			Cras sit amet aliquet leo. Nullam vitae libero vestibulum, pellentesque quam a, accumsan enim. Integer justo urna, faucibus eget ex nec, tincidunt accumsan lorem. Vivamus ullamcorper mollis tortor, id congue sapien semper vel. Fusce nunc eros, blandit id orci quis, condimentum egestas neque. Morbi consequat, diam eget condimentum rhoncus, magna nunc molestie dui, quis vulputate diam metus at turpis. Curabitur semper congue arcu vitae ultricies.
			Cras sit amet aliquet leo. Nullam vitae libero vestibulum, pellentesque quam a, accumsan enim. Integer justo urna, faucibus eget ex nec, tincidunt accumsan lorem. Vivamus ullamcorper mollis tortor, id congue sapien semper vel. Fusce nunc eros, blandit id orci quis, condimentum egestas neque. Morbi consequat, diam eget condimentum rhoncus, magna nunc molestie dui, quis vulputate diam metus at turpis. Curabitur semper congue arcu vitae ultricies.
			Cras sit amet aliquet leo. Nullam vitae libero vestibulum, pellentesque quam a, accumsan enim. Integer justo urna, faucibus eget ex nec, tincidunt accumsan lorem. Vivamus ullamcorper mollis tortor, id congue sapien semper vel. Fusce nunc eros, blandit id orci quis, condimentum egestas neque. Morbi consequat, diam eget condimentum rhoncus, magna nunc molestie dui, quis vulputate diam metus at turpis. Curabitur semper congue arcu vitae ultricies.
			Cras sit amet aliquet leo. Nullam vitae libero vestibulum, pellentesque quam a, accumsan enim. Integer justo urna, faucibus eget ex nec, tincidunt accumsan lorem. Vivamus ullamcorper mollis tortor, id congue sapien semper vel. Fusce nunc eros, blandit id orci quis, condimentum egestas neque. Morbi consequat, diam eget condimentum rhoncus, magna nunc molestie dui, quis vulputate diam metus at turpis. Curabitur semper congue arcu vitae ultricies.
			Cras sit amet aliquet leo. Nullam vitae libero vestibulum, pellentesque quam a, accumsan enim. Integer justo urna, faucibus eget ex nec, tincidunt accumsan lorem. Vivamus ullamcorper mollis tortor, id congue sapien semper vel. Fusce nunc eros, blandit id orci quis, condimentum egestas neque. Morbi consequat, diam eget condimentum rhoncus, magna nunc molestie dui, quis vulputate diam metus at turpis. Curabitur semper congue arcu vitae ultricies.
			</h4>
		</div>	
	</div>

</div>

{% endblock %}
