<!-- Adding new articles to the blog page. -->
{% extends "./index.html" %}

{% load static %}


{% block content %}


<head>
	<link rel="stylesheet" href="{% static 'photographer/css/style.css'%}"> 
	<style>
		/*<!-- facebok and intagramm links in bottom page -->*/
		.face-inst{
			display: none;
		}		
	</style>

</head>

<body>
	
	<div class="main-column">
		
	<h2>Dodaj nowy artykul</h2>	
	
	<form enctype="multipart/form-data" method="POST" action="{% url 'add_article_page' %}?tab={{navbar_active}}&full_name={{full_name}}">
		{% csrf_token %}

		<table class="description">
			<tr>
				<td><h3>Nazwa artykłu</h3></td>
				<td>{{title.art_title}}</td>
			</tr>
			<tr>
				<td><h3>foto artykłu</h3></td>
				<td>{{article.art_photo}}</td>			
			</tr>
			<tr>
				<td><h3>text artykłu</h3></td>		
				<td>{{article.art_text}}</td>			
			</tr>	
			
		</table>
			<input type="submit" value="Zapisz">

	</form>

</div>
</body>

		

{% endblock %}
