<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>Oliwia Brzykcy</title>
   
    <link rel="stylesheet" href="{% static 'photographer/css/style.css'%}">  

    <style type="text/css">
    	/*gets the name id from views.py and provides a style for the active navigation bar tab.*/
		#{{navbar_active}} {
			font-weight: bold;
    		font-size: 20px;
    		margin: 25px 33px;
		}		
	</style>
</head>
<body>	
<div class="head">

	<div style="text-align: center">
	  {% if request.user.is_authenticated %}
		<a href="{% url 'change_passwordURL' %}" class="login">Zmień hasło</a>
        <a style="margin-top: 2%" class="login" href="{% url 'logoutURL' %}">Wyloguj się</a>
      {% else %}
		<h2><a href="{% url 'loginURL' %}" class="login">&#128477;</a></h2>
	  {% endif %}			
            <h1 id="title"><a href="{% url 'reusable_page' 'start' 'Fotograf Bydgoszcz' %}">OLIWIA BRZYKCY</a></h1>

            

			<h3>F O T O G R A F I A</h3>
		</div>
			
	<nav>
<!-- id-for the style of the active tab -->
<!-- to open a new page, we provide the link with: 
				'reusable_page' - template url, 
				'portrety' - the name of the active tab,
		 		'Sesje portretowe i wizerunkowe' - full page name -->
		<div class="item-a"><a style="margin-left: 0" id="portrety" href="{%url 'reusable_page' 'portrety' 'Sesje portretowe i wizerunkowe' %}">Portrety, wizerunkowe
		</a></div>
		<div class="item-a"><a id="okolicznosciowe" href="{% url 'reusable_page' 'okolicznosciowe' 'Okolicznościowe' %}">Okolicznościowe
		</a></div>
		<div class="item-a"><a id="rodzinne" href="{% url 'reusable_page' 'rodzinne' 'Ciążowe, dziecięce, rodzinne' %}">Ciążowe, dziecięce, rodzinne</a></div>
		<div class="item-a"><a id="sensualne" href="{% url 'reusable_page' 'sensualne' 'Sensualne' %}">Sensualne</a></div>
		<div class="item-a"><a id="wiecej" href="{% url 'reusable_page' 'wiecej' 'Fotografia w wolnym czasie' %}">Więcej prac</a></div>
		<div class="item-a"><a id="blog" href="{% url 'blogURL' %}">Blog</a></div>				
		<div class="item-a"><a id="contact" href="{% url 'contactURL' %}">Kontakt</a></div>					
	</nav>	

</div>

    {% block content %}
    {% endblock %}
  
		<!-- the strip with links social media	 -->
	  	<div class="face-inst">
			<a href="https://www.facebook.com/fotooliwiabrzykcy/" target="_blank"><img src="{% static 'photographer/images/face-footer.jpg' %}"></a>
			<a href="https://www.instagram.com/fotooliwiabrzykcy/" target="_blank"><img src="{% static 'photographer/images/insag-footer.webp'%}"></a>
		</div>	
			
	<footer>
        <b>made by roman-uk <strong> | </strong> <span> mail:  roman55@mail.com</span></b>
    </footer>


</body>
</html>