<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>Oliwia Brzykcy</title>
   
    <link rel="stylesheet" href="{% static 'photographer/css/style.css'%}">  

    <style type="text/css">
    	/*gets the name id from views.py and provides a style for the active navigation bar tab.*/
		#{{navbar_active}} {
			font-weight: bold;
    		font-size: 20px;
    		margin: 25px 33px;
		}		
	</style>
</head>
<body>	
<div class="head">

		<div style="text-align: center">
			
            <h1 id="title"><a href="{% url 'reusable_page' 'start' 'Fotograf Bydgoszcz' %}">OLIWIA BRZYKCY</a></h1>
            

			<h3>F O T O G R A F I A</h3>
		</div>
			
			<nav>
<!-- id-for the style of the active tab -->
<!-- to open a new page, we provide the link with: 
						'reusable_page' template url, 
						'portrety' - the name of the active tab,
				 		'Sesje portretowe i wizerunkowe' - full page name -->
				<a style="margin-left: 0" id="portrety" href="{%url 'reusable_page' 'portrety' 'Sesje portretowe i wizerunkowe' %}">Portrety, wizerunkowe
				</a>
				<a id="okolicznosciowe" href="{% url 'reusable_page' 'okolicznosciowe' 'Okolicznościowe' %}">Okolicznościowe
				</a>
				<a id="rodzinne" href="{% url 'reusable_page' 'rodzinne' 'Ciążowe, dziecięce, rodzinne' %}">Ciążowe, dziecięce, rodzinne</a>
				<a id="sensualne" href="{% url 'reusable_page' 'sensualne' 'Sensualne' %}">Sensualne</a>
				<a id="wiecej" href="{% url 'reusable_page' 'wiecej' 'Fotografia w wolnym czasie' %}">Więcej prac</a>
				<a id="blog" href="{% url 'blogURL' %}">Blog</a>				
				<a id="contact" href="{% url 'contact_page'%}">Kontakt</a>			
			</nav>	

</div>

    {% block content %}
    {% endblock %}
  
		<!-- the strip with links social media	 -->
	  	<div class="face-inst">
			<a href="https://www.facebook.com/fotooliwiabrzykcy/" target="_blank"><img src="{% static 'photographer/images/face-footer.jpg' %}"></a>
			<a href="https://www.instagram.com/fotooliwiabrzykcy/" target="_blank"><img src="{% static 'photographer/images/insag-footer.webp'%}"></a>
		</div>	
			
	<footer>
        <b>made by roman-uk <strong> | </strong> <span> mail:  roman55@mail.com</span></b>
    </footer>


</body>
</html>