{% extends "./index.html" %}
{% load static %}

{%block kontakt%}nav-active{%endblock%}

{% block content %}
<head>
	<link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
	
</head>

<body>
<div class="kontakt-container">
	<div style="text-align: center">
	<h3 style="font-family: 'New Tegomin', serif; text-align: center">Twojej przeglądarki</h3></div>
	<p style="font-family: 'New Tegomin', serif;">
		Nasz sklep internetowy wykorzystuje pliki cookies. Aby dostosować się do Twoich potrzeb i zapewnić maksymalny komfort korzystania ze sklepu internetowego, strona używa plików cookies w celach związanych z wydajnością usług, serwisami społecznościowymi oraz treściami reklamowymi. Przeglądając naszą witrynę akceptujesz Politykę prywatności i Politykę cookies. 
	</p>

	<img src="media/kontakt/Bitrix24-Export-1.png">
	<div class="localization">
	<h2 style="font-size: 32px;">Lokalizacja- Bydgoszcz</h2>
	
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32213.728586533114!2d18.03271584217679!3d53.12276540205134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47031386764ebd6f%3A0xe49ee48c4b65f30e!2sBydgoszcz!5e0!3m2!1sen!2spl!4v1619208046777!5m2!1sen!2spl" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	
	<h2>Skontaktuj się ze mną</h2>
	<h2>Nr tel: 669 331 736</h2>
		<a href="https://www.facebook.com/fotooliwiabrzykcy/" target="_blank"><img src="media/kontakt/face.webp"></a>
		<a href="https://www.instagram.com/fotooliwiabrzykcy/" target="_blank"><img src="media/kontakt/insta.webp"></a>
	<p><b>E-mail:</b> oliwia.brzykcy@interia.com</p>
	<p><b>Facebook:</b> Foto Oliwia Brzykcy</p>
	<a  style="color: black;" href="https://www.facebook.com/fotooliwiabrzykcy/">https://www.facebook.com/fotooliwiabrzykcy/</a><br>
	<p><b>Instagram:</b> @fotooliwiabrzykcy</p>
	<a style="color: black;" href="https://www.instagram.com/fotooliwiabrzykcy/">https://www.instagram.com/fotooliwiabrzykcy/</a>	
	</div>

</div>

{% endblock %}
