{% extends "./index.html" %}
{% load static %}

{% block content %}

<body>	


<div class="main-column">
	<form action="{% url 'photo_theme_page' %}?tab={{tab}}&full_name={{full_name}}&item={{item}}" method="POST">
		{% csrf_token %}
	<table class="description">
		<tr>
			<td>Nowy temat foto</td>
			<td>{{theme.photo_theme}}</td>
		</tr>
				
		<!-- invisible field, to the user does not change it -->
		<tr style="display: none">
			<td>wybierz strone</td>
			<td>{{theme.site_tab}}</td>
		</tr>
	</table>
		<input type="submit" name="Zapisz">
	</form>
</div>
</body>


{% endblock %}