{% extends "./index.html" %}
{% load static %}

{%block portrety%}nav-active{%endblock%}

{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'photographer/css/style.css'%}"> 
	<link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
	
</head>

<body>
	<div style="text-align: center"><h2 style="font-family: 'Lora', serif;">Sesje portretowe i wizerunkowe</h2></div>
<div style="width: 1000px; margin: auto;">
	<h3 style="font-family: 'New Tegomin', serif; text-align: center">Branches in a Nutshell</h3>
	<p style="font-family: 'New Tegomin', serif;">
		A branch in Git is simply a lightweight movable pointer to one of these commits. The default branch name in Git is master. As you start making commits, you’re given a master branch that points to the last commit you made. Every time you commit, the master branch pointer moves forward automatically.
	</p>
<div class="photo-container">
	
	<div class="portrait-column">		
		<img src="media/portrety/lita.jpg">
		<img src="media/portrety/lordi.jpg">
		<img src="media/portrety/alice.jpg">
		<img src="media/portrety/motorhead.jpeg">
		<img src="media/portrety/manson.jpeg">
		<img src="media/portrety/roy.jpg">
	</div>


	<div class="portrait-column">		
		<img src="media/portrety/rock1.jpg">
		<img src="media/portrety/ozzygroup.jpg">
		<img src="media/portrety/robzomd.jpg">
		<img src="media/portrety/nightwish.jpg">	
		<img src="media/portrety/ozzy.png">	
			
	</div>	

</div>

{% endblock %}
