<!-- reusable
This is a html template for tabs: "start", "Okolicznościowe", "Ciążowe, dziecięce, rodzinne", "sensualne", "Więcej" 
-->

{% extends "./index.html" %}
{% load static %}

{% block content %}


<body>	
<div class="main-column">

		
	<h2>{{full_name_tab}}</h2>
	{% for item in description %}
		<h3>{{item.title}}</h3>
	<span id="description_content">
		{{item.content}}
	</span>
	{% endfor %}
	<div>		
		<nav class="filter"> <!-- photo theme filter -->
			{% for item in photo_themes %}
				<a href="{% url 'reusable_page' item.site_tab full_name_tab %}?filt={{item.id}}">{{item.photo_theme}}</a>
			{% endfor %}
		</nav>
	</div>	
		<div class="photo-container"> <!-- container for three columns -->
			{% for col in columns %}
				<div class="photo-column"> <!-- a column -->
				{% for item in photos %}				
					{% if item.column == col %}
						<img src="{{item.photo.url}}">						
					{% endif %}				
				{% endfor %}
				</div>
			{% endfor %}	
		</div>	
				
	</div>

</div>
</body>

{% endblock %}
