{% extends "./index.html" %}
{% load static %}

{%block rodzinne%}nav-active{%endblock%}

{% block content %}
<head>
	<link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
	
</head>

<body>
	<div style="text-align: center"><h2 style="font-family: 'Lora', serif;">Ciążowe, dziecięce, rodzinne</h2></div>
<div style="width: 1000px; margin: auto;">
	<h3 style="font-family: 'New Tegomin', serif; text-align: center">Vivamus ac magna</h3>
	<p style="font-family: 'New Tegomin', serif;">
		Morbi gravida tempor dui a blandit. Vestibulum pulvinar dui vitae erat commodo, ac tempus tellus fringilla. Pellentesque dictum non dolor vel vehicula. Aenean accumsan arcu non augue porta hendrerit. Quisque ac rutrum est. Morbi vehicula vitae tellus ut sodales. Integer sem ex, dapibus ut urna non, dapibus mattis velit. Quisque sem lorem, facilisis eu massa non, placerat sodales nisi.
	</p>

<div class="photo-container">

	<div class="photo-4columns">		
		<img src="media/start/FotoOliwiaBrzykcy (17).jpg">
		<img src="media/start/DSC_0077WEB.jpg">
		<img src="media/start/fotografiaoliwiabrzykcy.jpg">
		<img src="media/start/DSC_25071x.jpg">
		<img src="media/start/FotoOliwiaBrzykcy (10).jpg">
	</div>


	<div class="photo-4columns">		
		<img src="media/portrety/lita.jpg">
		<img src="media/portrety/lordi.jpg">
		<img src="media/portrety/alice.jpg">
		<img src="media/portrety/motorhead.jpeg">
		<img src="media/portrety/manson.jpeg">
		<img src="media/portrety/roy.jpg">
			
	</div>
	<div class="photo-4columns">
		<img src="media/start/1 (16).jpg">
		<img src="media/start/DSC_4304SMALLLOGO.jpg">	
		<img src="media/start/DSC_3740BIG.jpg">
		<img src="media/start/FotoOliwiaBrzykcy (10).jpg">
	</div>
	<div class="photo-4columns">
		<img src="media/okolicznosciowe/openerpng.png">
		<img src="media/okolicznosciowe/Party-Event.jpg">
		<img src="media/okolicznosciowe/piano.jpeg">
		<img src="media/okolicznosciowe/stock-photo-young-247.jpg">
		<img src="media/okolicznosciowe/wedding_photo_ideas_01.jpg">
	</div>


</div>

{% endblock %}
