{% extends "./index.html" %}
{% load static %}

{%block sensualne%}nav-active{%endblock%}

{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'photographer/css/style.css'%}"> 
</head>

<body>
	<div style="text-align: center"><h2>Sesje sensualne, buduar</h2></div>
<div style="width: 1000px; margin: auto;">
	<h3 style="text-align: center">Where does it come from?</h3>
	<p>
		Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
	</p>
	<div class="photo-container">
			
		<div class="photo-column">		
			<img src="media/sensualne/oliwiabrzykcyfotografia.jpg">
			<img src="media/sensualne/allphoto.jpg">
			<img src="media/sensualne/oliwiabrzykcyfotografia2.jpg">	
		</div>
		<div class="photo-column">		
			<img src="media/sensualne/oliwiabrzykcyfotografia2.jpg">
			<img src="media/sensualne/oliwiabrzykcyfotografia8.jpg">
			<img src="media/sensualne/61078538_165975971092514_8529567480835670482_n-640x431.jpg">	
		</div>
		<div class="photo-column">		
			<img src="media/sensualne/61078538_165975971092514_8529567480835670482_n-640x431.jpg">
			<img src="media/sensualne/d509fbadd27377c4771bd8906843857f.jpg">
			<img src="media/sensualne/smeshariki_2201.jpg">
	
		</div>
	</div>
</div>

{% endblock %}