{% extends "./index.html" %}
{% load static %}


{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'photographer/css/style.css'%}"> 
</head>

<body>
	<div style="text-align: center"><h2>Fotograf Bydgoszcz</h2></div>
<div style="width: 1000px; margin: auto;">
	<h3 style="text-align: center">Maintenance updates</h3>
	<p>
		Układ Słoneczny powstał około 4,6 miliarda lat temu z zagęszczenia obłoku molekularnego. Owa stosunkowo rzadka chmura gazu (przede wszystkim wodoru i helu) i pyłu kosmicznego o średnicy kilku lat świetlnych zapadła się grawitacyjnie – prawdopodobnie pod wpływem jakiegoś zaburzenia zewnętrznego, związanego na przykład z niedalekim wybuchem supernowej. Kurczeniu się obłoku odpowiadało zwiększanie się gęstości, szczególnie w centrum, oraz formowanie się wirującego coraz szybciej dysku protoplanetarnego o średnicy około 200 au[6]. 
	</p>
<div class="photo-container">
	
	<div class="photo-column">		
		<img src="media/start/FotoOliwiaBrzykcy (17).jpg">
		<img src="media/start/DSC_0077WEB.jpg">
		<img src="media/start/fotografiaoliwiabrzykcy.jpg">
		<img src="media/start/DSC_25071x.jpg">
		<img src="media/start/FotoOliwiaBrzykcy (10).jpg">
	</div>


	<div class="photo-column">		
		<img src="media/start/DSC_3740BIG.jpg">
		<img src="media/start/DSC_0077WEB.jpg">
		<img src="media/start/DSC_25071x.jpg">
		<img src="media/start/DSC_4304SMALLLOGO.jpg">	
		<img src="media/start/DSC_3740BIG.jpg">	
			
	</div>
	<div class="photo-column">
		<img src="media/start/1 (16).jpg">
		<img src="media/start/DSC_4304SMALLLOGO.jpg">	
		<img src="media/start/DSC_3740BIG.jpg">
		<img src="media/start/FotoOliwiaBrzykcy (10).jpg">
	</div>

</div>

{% endblock %}
