{% extends "./index.html" %}
{% load static %}

{%block wiecej%}nav-active{%endblock%}

{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'photographer/css/style.css'%}"> 	
</head>

<body>
	<div style="text-align: center"><h2>Fotografia w wolnym czasie</h2></div>
<div style="width: 1000px; margin: auto;">
	<h3 style="text-align: center">Rumba towarzyska</h3>
	<p>
		Nazywana tańcem miłości lub tańcem namiętności. Wchodzi w skład dziesięciu tańców towarzyskich. Rumba ma metrum 4/4. Rozliczenie tempa kroku podstawowego to wolny, szybki, szybki. Trzymanie podobnie jak w innych tańcach latynoamerykańskich może być otwarte (za jedną rękę) lub zamknięte (obiema rękoma). Ciężar ciała musi być stale utrzymywany nad palcami stóp. Chodzenie w tym tańcu odbywa się na nogach przeprostowanych.
	</p>

<div class="photo-container">
	
	<div class="photo-column">		
		<img src="media/okolicznosciowe/kids.jpeg">
		<img src="media/okolicznosciowe/openerpng.png">
		<img src="media/okolicznosciowe/Party-Event.jpg">
		<img src="media/okolicznosciowe/piano.jpeg">
		<img src="media/okolicznosciowe/stock-photo-young-247.jpg">
		<img src="media/okolicznosciowe/wedding_photo_ideas_01.jpg">
	</div>


	<div class="photo-column">		
		<img src="media/start/DSC_3740BIG.jpg">
		<img src="media/start/DSC_0077WEB.jpg">
		<img src="media/start/DSC_25071x.jpg">
		<img src="media/start/DSC_4304SMALLLOGO.jpg">	
		<img src="media/start/DSC_3740BIG.jpg">	
			
	</div>
	<div class="photo-column">
		<img src="media/okolicznosciowe/openerpng.png">
		<img src="media/okolicznosciowe/Party-Event.jpg">
		<img src="media/okolicznosciowe/piano.jpeg">
		<img src="media/okolicznosciowe/stock-photo-young-247.jpg">
		<img src="media/okolicznosciowe/wedding_photo_ideas_01.jpg">
	</div>

</div>


</div>

{% endblock %}
